@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

.App {
  text-align: center;
  font-size: 50px;
  font-family:'Bebas Neue';
}


button {
  margin-top: 25px;
  border-color: black;
  background-color: white;
  border: 5px solid;
  padding: 25px;
  font-family:'Bebas Neue';
  font-size: 50px;
}

button:hover {
  margin-top: 25px;
  border-color: white;
  background-color: black;
  color: white;
  border: 5px solid;
  padding: 25px;
  font-family:'Bebas Neue';
  font-size: 50px;
}

p {
  font-size: 70px;
}