@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');

.App {
  text-align: center;
  font-size: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family:'Bebas Neue';
}

button {
  margin-top: 25px;
  border-color: black;
  background-color: white;
  border: 5px solid;
  padding: 25px;
  font-family:'Bebas Neue';
  font-size: 50px;
}

button:hover {
  margin-top: 25px;
  border-color: white;
  background-color: black;
  color: white;
  border: 5px solid;
  padding: 25px;
  font-family:'Bebas Neue';
  font-size: 50px;
}

p {
  font-size: 70px;
}